*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.flex-container{
    display:flex;
    justify-content: space-around;
}


header{
    display: flex;
    width:100%;
}

header #logo{
    width:20vw;
}

header #logo img{
    width:100%;
    margin-top: 1vh;
}

header #indent{
    width:60vw;
}

header #indent h1{
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin-top: 4vh;
    color:#1C3FA6;
}

header #menu{
    width:20vw;
}

header #menu img{
    width:80%;
    margin-top:3vh;
}

nav{
    width:100vw;
    background-color: #C0C0C0;
    margin-top: 15vh;
    position: fixed;
}

nav ul{
    list-style: none;
}

nav li{
    padding-bottom: 1vh;
    padding-top: 3vh;
    border-bottom: 1px solid #000;
}

nav a{
    text-decoration: none;
    color:#000;
    margin-left: 3vw;
    font-weight: bold;
    line-height: 1.5;
    font-size:18px;
}

#img-fundo{
    position: absolute;
    z-index: -1;
    opacity: 0.3;
}

main {
    width:100%;
}

main h1{
    width:100%;
    font-size:20px;
    text-align:center;
    margin-top: 2vh;
    color:#1C3FA6;
}

main #p{
    display:none;
}

main p{
    margin-top: 2vh;
    text-align: justify;
    font-size:16px;
    padding: 0 7vw 0 5vw;
    line-height: 2;
    color:#00688B;
}

#img{
    border-top: 3px #1C3FA6 solid;
    width:100%;
    float:left;
    flex-wrap: wrap;

}

#docker{
    width:30vw;
    align-self: flex-end;
}

#docker img{
    width:100%;
}

#python{
    width:30vw;
    align-self: flex-end;
}

#python img{
    width:100%;
}

#mysql{
    width:30vw;
    align-self: flex-end;
}

#mysql img{
    width:100%;
}

#html5{
    width:30vw;
    align-self: flex-end;
}

#html5 img{
    width:100%;
}

#css{
    width:30vw;
    align-self: flex-end;
}

#css img{
    width:100%;
}

#php{
    width:30vw;
    align-self: flex-end;
}

#php img{
    width:100%;
}