*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display:flex;
    justify-content: space-around;
}

header{
    display: flex;
    width:100%;
}

header #logo{
    width:20vw;
}

header #logo img{
    width:100%;
    margin-top: 1vh;
}

header #indent{
    width:60vw;
}

header #indent h1{
    width: 100%;
    font-size: 15px;
    font-family: Arial;
    text-align: center;
    margin-top: 4vh;
    color:#1C3FA6;
}

header #menu{
    width:20vw;
}

header #menu img{
    width:80%;
    margin-top:3vh;
}

nav{
    width:100%;
}

nav ul{
    list-style: none;
}

main {
    width:100%;
}

main h1{
    width:100%;
    font-size:20px;
    font-family: Arial;
    text-align:center;
    margin-top: 2vh;
    color:#1C3FA6;
}

main #p{
    display:none;
}

main p{
    margin-top: 2vh;
    text-align: justify;
    font-family: Arial;
    font-size:16px;
    padding: 0 7vw 0 5vw;
    line-height: 2;
    color:#00688B;
}

#img{
    border-top: 3px #1C3FA6 solid;
    width:100%;
    float:left;
}

#docker{
    width:30vw;
}

#docker img{
    width:100%;
}

#python{
    width:30vw;
}

#python img{
    width:100%;
}

#mysql{
    width:30vw;
}

#mysql img{
    width:100%;
}

#html5{
    width:30vw;
}

#html5 img{
    width:100%;
}

#css{
    width:30vw;
}

#css img{
    width:100%;
}

#php{
    width:30vw;
}

#php img{
    width:100%;
}